### In this notebook, we calculated the propotion of deficit/reserve in 2016 and the percentage change of ecological footprint consumption during the period.

In [1]:
# Load some libraries
import pandas as pd
import json
from pandas import DataFrame
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("../data/data0.csv") # read csv files

In [3]:
df.head()

,Year,Country,Code,Parameter,Cropland,Grazing,Forest,Fishing,Builtup,Carbon,Total
0,1975,United Arab Emirates,AE,GDP,NaN,NaN,NaN,NaN,NaN,NaN,102479.187500
1,1976,United Arab Emirates,AE,GDP,NaN,NaN,NaN,NaN,NaN,NaN,102319.726562
2,1977,United Arab Emirates,AE,GDP,NaN,NaN,NaN,NaN,NaN,NaN,107452.179688
3,1978,United Arab Emirates,AE,GDP,NaN,NaN,NaN,NaN,NaN,NaN,92822.359375
4,1979,United Arab Emirates,AE,GDP,NaN,NaN,NaN,NaN,NaN,NaN,100480.437500

In [4]:
regions = ['Africa',
 'Central America',
 'Central Asia',
 'Eastern Africa',
 'Eastern Asia',
 'Eastern Europe',
 'Europe',
 'Latin America and the Caribbean',
 'Middle Africa',
 'North America',
 'Northern Africa',
 'Northern Europe',
 'Oceania',
 'South America',
 'South-Eastern Asia',
 'Southern Africa',
 'Southern Asia',
 'Southern Europe',
 'Western Africa',
 'Western Asia',
 'Western Europe']

In [5]:
df = df[(df["Country"].isin(regions))&(df["Year"].isin(["1961","2016"]))]

In [6]:
newdf = df[['Year','Country']]
newdf.drop_duplicates(inplace=True) 
newdf = newdf.reindex(columns = newdf.columns.tolist() + ['BiocapPerCap','EFConsPerCap','Percentage','Change'])

In [7]:
# fill the values in the newdf using data from df
# loop for the year, countries and the columns in the dataframe newdf
# use try, except to avoid missing values because some countries miss record at certain years

for year in [1961,2016]:
    for region in regions:
            try:
                newdf.loc[(newdf.Country == region) & (newdf.Year == year),['EFConsPerCap']] = float(df[(df.Country == region) & (df.Year == year) & (df.Parameter == 'EFConsPerCap')]['Total'])
                newdf.loc[(newdf.Country == region) & (newdf.Year == year),['BiocapPerCap']] = float(df[(df.Country == region) & (df.Year == year) & (df.Parameter == 'BiocapPerCap')]['Total'])
            except:
                pass

In [8]:
newdf.head()

       Year          Country  BiocapPerCap  EFConsPerCap  Percentage  Change
66067  1961        Caribbean      1.061084      1.068321         NaN     NaN
66068  1961  Central America      3.948856      1.844198         NaN     NaN
66069  1961     Central Asia      2.658406      3.795831         NaN     NaN
66070  1961   Eastern Africa      3.147390      1.711367         NaN     NaN
66071  1961     Eastern Asia      1.045389      1.179734         NaN     NaN

In [9]:
# calculate the deficit/reserve as percentage of biocapacity
newdf['Percentage'] = (newdf['BiocapPerCap'] - newdf['EFConsPerCap']) / newdf['BiocapPerCap'] 
# reset index
newdf.reset_index(drop=True, inplace=True)

In [10]:
df1 = pd.DataFrame(index=np.arange(len(regions)),columns = ["Region","Percentage","Change"])

In [11]:
for i in range(0,len(regions)):
    df1.ix[i,"Region"] = regions[i]
    df1.ix[i,"Percentage"] = float(newdf.loc[(newdf.Country == regions[i])&(newdf.Year == 2016)]["Percentage"])
    val2016 = float(newdf.loc[(newdf.Country == regions[i])&(newdf.Year == 2016)]["EFConsPerCap"])
    val1961 = float(newdf.loc[(newdf.Country == regions[i])&(newdf.Year == 1961)]["EFConsPerCap"])
    df1.ix[i,"Change"] = (val2016-val1961)/val1961

In [13]:
df1["Percentage"] = (df1["Percentage"]*100).apply(lambda x: round(x, 1)) 
df1["Change"] = (df1["Change"]*100).apply(lambda x: round(x, 1))

In [19]:
df1.columns = ['Region','Deficit/Reserve Rate','Ecological Footprint Change Rate ']

In [20]:
df1.head()

            Region  Deficit/Reserve Rate  Ecological Footprint Change Rate
0           Africa                 -15.9                                1.4
1             Asia                -210.1                              123.9
2        Caribbean                -162.8                               60.6
3  Central America                 -95.0                               31.8
4     Central Asia                 -78.3                              -21.3

In [21]:
df1.to_csv(path_or_buf="../data/BarChart.csv", index = False)