In [1]:
# Load some libraries
import pandas as pd
import json
from pandas import DataFrame
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
df = pd.read_csv("../data/DeRedata.csv")

In [11]:
df[df["Country"]!="Singapore"]["Percentage"].min()

-26.14192275332679

In [3]:
df.describe()

,Year,Earths,HDI,Population,BiocapPerCap,BiocapTotGHA,EFConsPerCap,EFConsTotGHA,DeRe,Percentage
count,4208.000000,4208.000000,4208.000000,4.208000e+03,4208.000000,4.208000e+03,4208.000000,4.208000e+03,4208.000000,4208.000000
mean,2003.811787,1.784310,0.648832,3.955231e+07,3.742171,7.326237e+07,3.207784,1.068604e+08,0.534387,-2.502471
std,7.658459,1.406117,0.167928,1.418168e+08,8.526996,2.141643e+08,2.519712,3.793496e+08,8.685874,13.741944
min,1990.000000,0.233184,0.199000,6.967000e+04,0.030922,4.729306e+04,0.408075,1.237726e+05,-15.949668,-250.798648
25%,1997.000000,0.736698,0.513000,3.225496e+06,0.767360,4.711267e+06,1.353044,6.739562e+06,-1.740801,-1.502228
50%,2004.000000,1.300692,0.673000,8.969450e+06,1.520597,1.585980e+07,2.345621,2.014709e+07,-0.556990,-0.584729
75%,2010.000000,2.526217,0.781250,2.644474e+07,3.129840,5.283086e+07,4.514294,6.132712e+07,0.701519,0.251258
max,2016.000000,9.882354,0.951000,1.434972e+09,97.818091,1.832325e+09,17.723456,5.260000e+09,95.346924,0.976959

In [6]:
df.head()

,Year,Country,Code,Earths,HDI,Population,BiocapPerCap,BiocapTotGHA,EFConsPerCap,EFConsTotGHA,DeRe,Percentage,Region,Income,id
0,1990,United Arab Emirates,AE,6.237739,0.727,1860174.0,2.602391,4.840890e+06,12.902908,2.400160e+07,-10.300517,-3.958097,Middle East/Central Asia,HI,ARE
1,1991,United Arab Emirates,AE,6.859624,0.738,1970026.0,2.472270,4.870447e+06,13.852905,2.729064e+07,-11.380635,-4.603313,Middle East/Central Asia,HI,ARE
2,1992,United Arab Emirates,AE,6.348376,0.742,2086639.0,2.382417,4.971246e+06,12.829025,2.676956e+07,-10.446608,-4.384879,Middle East/Central Asia,HI,ARE
3,1993,United Arab Emirates,AE,6.331413,0.748,2207405.0,2.255677,4.979203e+06,12.545192,2.769238e+07,-10.289515,-4.561609,Middle East/Central Asia,HI,ARE
4,1994,United Arab Emirates,AE,6.670189,0.756,2328686.0,2.143710,4.992035e+06,13.122528,3.055830e+07,-10.978818,-5.121411,Middle East/Central Asia,HI,ARE

In [7]:
country_list = list(set(df.Country))

In [16]:
years = []
for i in range(1990,2017):
    years.append(i)

In [29]:
for country in country_list:
    if (df[df.Country == country]["Year"].tolist() != years):
        df = df[df.Country != country]

In [31]:
df.to_csv(path_or_buf="../data/GapMinder.csv", index = False)